.breadwrap ol li .icon{ background:#dc3c47; }

#menu .multilevelpushmenu_wrapper .levelHolderClass.rtl .backItemClass a,
#menu .multilevelpushmenu_wrapper .levelHolderClass.rtl .backItemClass a:active, 
.main-content .selectpicker li.selected a .icon,
.main-content .selectpicker>li.selected>a:focus .check-mark,
.bootstrap-select.btn-group .btn .filter-option span,
.bootstrap-select.btn-group .btn .filter-option em { color:#dc3c47; }

.btn.btn-default.btn-red{ background:#dc3c47 !important; }

.content-resources ul.nav-pills li.active {
	border-left: 10px solid #cb3a46;
}
